#menu li{
    display:inline-block; /*menu horizontal*/
    padding-left: 10px ;
    padding-right:10px;
    border-left: solid black 2px;
}
.fundo {
    background-color: aquamarine;
}
.caixa {
    width:70%;
    height:150px;
    background-color: rgb(199, 234, 236);
    display:center;
    font-size: 100px;
    text-align: center;
    font-family: permanent marker;
    margin-bottom: 70%;
    margin-top: 10%;
}

.imagem1 {
    float:right;
 padding:50px;
}
.caixa2 {
    width:100%;
    background-color: rgb(199, 234, 236);
    font-size: 100px;
    text-align: center;
    font-family: permanent marker;
}
.cont {
    position: left;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}
.nome {
    padding-left: 10px;
    position: center;
}
